.ui.vertical.block.buttons .button:first-child {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.ui.vertical.block.buttons .button:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.ui.contact.button {
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
}

.ui.blocked.button {
  border-radius: 0!important;
}

.ui.vertical.blocked.buttons .button {
  border-radius: 0!important;
}

.ui.vertical.blocked.buttons .button :first-child {
  border-radius: 0!important;
}
.ui.vertical.blocked.buttons .button :last-child {
  border-radius: 0!important;
}
.ui.vertical.blocked.buttons .button :only-child {
  border-radius: 0!important;
}

.ui.blocked.labeled.button {
  border-radius: 0!important;
}

.ui.blocked.labeled.button:not([class*="left labeled"]) > .label {
  border-radius: 0!important;
}