.ui.inverted.feed > .event > .content .summary {
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.inverted.feed > .event > .content .user {
  color: rgba(255, 255, 255, 0.9) !important;
}

.ui.inverted.feed > .event > .content .summary > .date {
  color: rgba(255, 255, 255, 0.9) !important;
}