.ui.small.logo.images .image,
.ui.small.logo.images img,
.ui.small.logo.images svg,
.ui.small.logo.image {
  width: auto;
  max-height: 200px;
  font-size: .92857143rem;
}

.ui.profile.image {
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}