.ui.inverted.items {
  border: none;
  box-shadow: none;
  background: #1b1c1d;
}

.ui.inverted.items>.item a.header,
.ui.inverted.items>.item .meta,
.ui.inverted.items>.item .meta a,
.ui.inverted.items>.item .extra {
  color: rgba(255, 255, 255, 0.9);
}

.ui.inverted.divided.items > .item {
  border-top: 1px solid rgba(255,255,255,.1);
  margin: 0;
  padding: 1em 0;
}

.ui.inverted.divided.items > .item:first-child {
  border-top: none;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.ui.inverted.divided.items > .item:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.ui.items>.item>.content>.orange.header {
  color: rgba(242, 113, 28, 1);
}

.ui.items>.item .orange.meta {
  color: rgba(242, 113, 28, 1);
}

.ui.items>.item>.content>.orange.description {
  color: rgba(242, 113, 28, 1);
}

.ui.items>.item .orange.extra {
  color: rgba(242, 113, 28, 1);
}

.ui.inverted.striped.items > .item:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05)
}