.ui.inverted.segment>.ui.header .sub.header {
  color: rgba(255, 255, 255, 1);
}

.ui.inverted.segment>.ui.orange.header .sub.header {
  color: #F2711C !important;
}

.ui.inverted.segment>.ui.list .item a.header {
  cursor: pointer;
  color: #FFF!important;
}

.ui.nopadding.segment {
  padding: 0;
}