.app-top {
  top: 0;
  left: 0;
  right: 0;
}

.app-middle {
  top: 74px;
  left: 0;
  right: 0;
  bottom: 74px;
}

.app-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.app-top, .app-middle, .app-bottom {
  position: absolute !important;
}