@font-face{
  font-family:'Neutraface Book';
  src:url("/assets/fonts/Neutraface2DJCText-Book.eot");
  src:url("/assets/fonts/Neutraface2DJCText-Book.eot") format("embedded-opentype"),
  url("/assets/fonts/Neutraface2DJCText-Book.woff") format("woff"),
  url("/assets/fonts/Neutraface2DJCText-Book.ttf") format("truetype"),
  url("/assets/fonts/Neutraface2DJCText-Book.svg") format("svg");
  font-style:normal;
  font-weight:400
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: $font-family;
}

html {
  height: 100%;
}

.right {
  float: right;
}