.entry {
  display: block;
  margin: 0;
  padding: 0;
  color: $black;

  .entry-header {
    display: block;
    font-size: $px20;
    font-weight: 700;
    font-family: $font-family;
    text-transform: uppercase;
  }

  .entry-item {
    display: block;
    font-size: $px16;
    padding: .5em 0;

    &:not(:first-child) {
      border-top: $border-line solid $maincolor;
    }
    &:last-child {
      padding: .5em 0;
    }
  }

  .entry-meta {
    display: block;
    font-size: $px16;
    font-family: $font-family;
    text-transform: uppercase;
  }

  .entry-desc {
    display: block;
    font-size: $px16;
    &:not(:last-child) {
      padding-bottom: 0.5em;
    }
  }

  .entry-date {
    display: block;
    float: right;
    font-size: $px16;
  }

  .entry-link {
    display: block;
    text-align: right;
  }

  .entry-link a {
    color: $black;
    text-decoration: none;
  }

  p {
    margin: 0;
    line-height: 1em;
  }
}