.front-top {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.front-middle {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto .5em !important;
}

.front-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.front-top, .front-bottom {
  position: absolute !important;
  min-height: 158px;
}

.front-top, .front-middle, .front-bottom {
  background: #002857!important;
}

.front-blank {
  background: #FFFFFF!important;
}

.front-inner {
  height: 427mm;
}

.front-content {
  position: relative;
  width: 100%;
  height: 1255px;
  font-size: 22px;
}


.front-segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: .5em;
  overflow: hidden;

  .front-header {
    position: relative;
    padding: .6em 0 .6em .6em;
    margin: 0;
    font-size: $px20;
    background: $maincolor !important;
    color: #FFF;
    font-weight: 700;
    font-family: $font-family;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .front-image {
    img {
      position: relative;
      display: block;
      margin:0 auto;
      max-height: 1150px;
    }
  }
}