.row {
  display: flex;
  position: relative;
  flex-direction: row;
}

@for $i from 1 through 12 {
  .column-#{$i} {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100% / 12 * $i;
  }
}