.twitter {
  background: $maincolor;
  background-image: url(http://media.engageme.granath/media/williams/images/social/tw-icon.png);
  height: 36px;
  width: 36px;
  display: inline-block;
  border-radius: 50%;
}

.facebook {
  background: $maincolor;
  background-image: url(http://media.engageme.granath/media/williams/images/social/fb-icon.png);
  height: 36px;
  width: 36px;
  display: inline-block;
  border-radius: 50%;
}

.instagram {
  background: $maincolor;
  background-image: url(http://media.engageme.granath/media/williams/images/social/insta-icon.png);
  height: 36px;
  width: 36px;
  display: inline-block;
  border-radius: 50%;
}

.linkedin {
  background: $maincolor;
  background-image: url(http://media.engageme.granath/media/williams/images/social/ld-icon.png);
  height: 36px;
  width: 36px;
  display: inline-block;
  border-radius: 50%;
}

.youtube {
  background: $maincolor;
  background-image: url(http://media.engageme.granath/media/williams/images/social/yt-icon.png);
  height: 36px;
  width: 36px;
  display: inline-block;
  border-radius: 50%;
}