.list {
  display: block;
  margin: 0;
  padding: 0;
  color: $black;

  .list-item {
    display: block;
    font-size: $px16;
    padding: .5em 0;

    &:not(:first-child) {
      border-top: $border-line solid $maincolor;
    }
  }

  .list-entry {
    display: block;
    font-size: $px18;
    font-weight: 700;
    font-family: $font-family;
    text-transform: uppercase;
  }

  .list-desc {
    font-size: $px16;
  }

  .list-level {
    display: block;
    position: relative;
    text-align: right;
  }
}