.rating-bar {
  display: block;
}

.rating {
  display: inline-block;
  background-color: #dedede;
  height: 5px;
  width: 25px;
  margin: 0 0.1em;
  &.selected {
    background-color: $maincolor !important;
  }
}