.segment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 .5em;
  overflow: hidden;

  &:first-child {
    margin: .5em .5em 0;
  }
  &:last-child {
    margin: 0 .5em .5em;
  }

  .segment-header {
    position: relative;
    padding: .6em 0 .6em .6em;
    margin: 0;
    font-size: $px20;
    background: $maincolor !important;
    color: #FFF;
    font-weight: 700;
    font-family: $font-family;
    text-transform: uppercase;
    width: 100%;
  }

  .segment-headline {
    font-size: $px20;
    text-align: center;
  }

  .segment-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .segment-image {
    img {
      position: relative;
      display: block;
      margin:0 auto;
      width: 100%;
    }
  }
}

.message {
  margin: .5em !important;
}