.social {
  display: flex;
  color: $white;

  .social-item {
    display: block;
    width: 33.3%;

    &:not(:first-child) {
      border-top: $border-line dotted $maincolor;
    }
  }

  a {
    display: inline;
    text-decoration: none;
  }

  .social-entry {
    display: block;
    padding: .1em 0;
    color: $maincolor;
    font-size: $px16;
  }
}