$font-family : "Neutraface Book",Helvetica,Arial,sans-serif;

$maincolor : #002857;
$white : #FFFFFF;
$black : #000000;

$px16 : 16px;
$px18 : 18px;
$px20 : 20px;
$px24 : 24px;
$px32 : 32px;

$border-line : 1px;